<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::title},~{::#mainContent},~{::script},~{})}"  >
<head>
     <title >All Your Contacts</title>
      <link href="/css/output.css" rel="stylesheet">
       <script src="https://cdn.tailwindcss.com"></script>
     <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        'gray-650': '#4a5568',
                    }
                }
            }
        }
    </script>
</head>
<body th:data-page="${currentPage}">
     <div id="mainContent" class="transition-all duration-300 p-4">
      <div class="text-center mb-5 mt-5">

    <h1 class="text-3xl ">All Your Contacts</h1>
    <h4 class="text-lg text-gray-500 mt-2">List of your contacts</h4>
</div>

<div class="contact-container p-7" >        

<div class="flex justify-center">

  <div class="w-full max-w-6xl relative overflow-x-auto  shadow-md sm:rounded-lg">
    
  <form id="searchForm" class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 w-full bg-white dark:bg-gray-900 px-2 pb-4" method="GET" action="/user/contacts/search">
  
  <!-- Dropdown -->
  <div class="w-full md:w-auto">
    <select id="searchField" name="field"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 
             block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
             dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      <option value="" disabled selected>Select Field To Search</option>
      <option value="name">Name</option>
      <option value="phone">Phone</option>
      <option value="email">Email</option>
    </select>
  </div>

  <!-- Search Input -->
  <div class="relative w-full md:w-80">
    <label for="query" class="sr-only">Search</label>
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input type="text" id="table-search-users" name="query"
      class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 
             focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
             dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search for users" >
  </div>
</form>

    <table class="w-full text-sm rounded-2xl text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="relative text-xs  uppercase bg-gradient-to-r from-blue-600 via-purple-600 to-indigo-600 text-white">
    <!-- Dark overlay -->
    <tr class="relative">
        <th scope="col" class="px-6 py-4 backdrop-blur-sm bg-black/60 dark:bg-black/20">
            Name
        </th>
        <th scope="col" class="px-6 py-4 backdrop-blur-sm bg-black/60 dark:bg-black/20">
            Phone
        </th>
        <th scope="col" class="px-6 py-4 backdrop-blur-sm bg-black/60 dark:bg-black/20">
            LinkedIn
        </th>
        <th scope="col" class="px-6 py-4 backdrop-blur-sm bg-black/60 dark:bg-black/20">
            Facebook
        </th>
        
        <th scope="col" class="px-6 py-4 backdrop-blur-sm bg-black/60 dark:bg-black/20">
            Action
        </th>
    </tr>
</thead>

        <tbody> 
            <tr
             th:each="c: ${contacts.content}"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 ">
            
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
               <div class="w-10 h-10 flex items-center justify-center rounded-full text-white font-semibold text-base avatar-circle"
                    th:text="${c.name.substring(0, 1).toUpperCase()}" >
                </div>

                <div class="ps-3">
                <div class="text-base font-semibold flex items-center gap-2">
                <span th:text="${c.name}">Neil Sims</span>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    th:if="${c.favorite}"
                    class="w-4  h-4"
                    viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="#FFD43B" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                </div>
                        <div class="font-normal text-gray-500" th:text="${c.email}">neil.sims@flowbite.com</div>
                    </div>  
                </th>
                <td class="px-6 py-4" th:text="${c.phoneNum}">
                    0000000000
                </td>
                <td class="px-6 py-4">
                
                <a th:href="${c.linkedInLink}" target="_blank"
                    class="text-blue-600 hover:underline dark:text-blue-400"
                    th:if="${c.linkedInLink != null}" th:text="${c.linkedInLink}">LinkedIn</a>
                    <span th:if="${#strings.isEmpty(c.linkedInLink)}" 
                            class="text-gray-400  italic">N/A</span>
                  
                </td>

                <td class="px-6 py-4">
                  <a th:href="${c.webLink}" target="_blank"
                     class="text-blue-600 hover:underline dark:text-blue-400"
                     th:if="${c.webLink != null}" th:text="${c.webLink}">Facebook</a>
                  <div class="mx-15">
                    <span th:if="${#strings.isEmpty(c.webLink)}" 
                            class="text-gray-400  italic">N/A</span>
                  </div>
                </td>

                <td class="px-6 py-4">
  <div class="flex items-center space-x-3 text-lg">
    <!-- View -->
    <a   th:href="@{'/user/contacts/view/' + ${c.id}}" 

    title="View"
       class="text-green-500 hover:text-green-700 transition"
    >
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
      </svg>    </a>

    <!-- Edit -->
    <a th:href="@{'/user/contacts/update/' + ${c.id}}"  title="Edit"
       class="text-blue-500 hover:text-blue-700 transition">
    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="w-5 h-4" viewBox="0 0 512 512">
       <path fill-rul  e="evenodd" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" clip-rule="evenodd"/></svg>
   </a>

    <!-- Delete -->
    <button 
   title="Delete" 
   th:onclick="deleteContact([[${c.id}]])" 
   class="text-red-500 hover:text-red-700">
  
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-4 h-4" fill="currentColor">
    <path fill-rule="evenodd" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z " clip-rule="evenodd"/>
</svg>
</button>
  </div>
</td>

            </tr>
           
        </tbody>
    </table>
    
</div>

 </div>
 <div class="flex p-5 justify-center">
  <!-- Previous Button -->
  <a th:if="${contacts.hasPrevious()}"  
     th:href="@{/user/contacts(page=${contacts.number - 1}, size=${contacts.size}, sortBy=${sortBy}, direction=${direction})}"
     class="flex items-center justify-center px-4 h-10 me-3 text-base font-medium text-gray-100 bg-gray-800 border border-gray-300 rounded-lg hover:bg-zinc-900 hover:border-zinc-900 hover:text-gray-100 dark:bg-gray-800 dark:border-gray-400 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:hover:border-gray-700 dark:border-2">
    <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
    </svg>
    Previous
  </a>
  <a th:if="${contacts.hasNext()}"
     th:href="@{/user/contacts(page=${contacts.number + 1}, size=${contacts.size}, sortBy=${sortBy}, direction=${direction})}"  
     class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-100 bg-gray-800 border border-gray-300 rounded-lg hover:bg-zinc-900 hover:border-zinc-900 hover:text-gray-100 dark:bg-gray-800 dark:border-gray-400 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:hover:border-gray-700 dark:border-2">
    Next
    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>
</div>
    </div>
  
  </div>

     <script>
        console.log("All Contacts");     
    </script>
      <script th:src="@{'/script/script.js'}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    <script th:src="@{/script/contact.js}"></script>
</body>
</html>